# Database
DATABASE_PATH=./database/crochetflix.sqlite

# JWT
JWT_SECRET=tu_secreto_jwt_aqui_cambia_en_produccion
JWT_EXPIRES_IN=7d

# Server
PORT=3001
NODE_ENV=development

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3001

# NOWPayments
NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1
NOWPAYMENTS_API_KEY=JWF7XRR-25V4ABS-NY7GEC9-R03FEGF
NOWPAYMENTS_IPN_SECRET=ub4G01ZbWcf55F9IY2h0NP5ubXv/YEhs

# Pago
PAYMENT_CURRENCY=USD
PAYMENT_AMOUNT_MENSUAL=4.99
PAYMENT_AMOUNT_ANUAL=49.99
